body {
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 22px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}
.active { font-weight: bold; }

#side-container {
    height: 100vh;
    width: 6vw;
    background-color: #efefef;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    text-align: center;
    padding-top: 4vh;
}

#side-container div { color: #6f6f6f; margin-top: 20px; cursor: pointer; transition: color .5s; }
#side-container div:hover { color: #336699; }
#header-container {
    height: 6vh;
    width: 94vw;
    padding-left: 7vw;
}
.mdi-angular:before {
    font-size: 40px !important;
}
#main-container {
    height: 90vh;
    width: 93vw;
    position: relative;
    left: 6vw;
    padding-left: 2vw;
}

#main-container h3 {
    margin: 0;
    padding: 6px;
    color: #373E41;
    font-size: 20px;
    font-weight: bold;
    background-color: #ECEFF1;
}

#main-container h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

#main-container p {
    margin: 0;
}

#footer-container {
    height: 4vh;
    width: calc(100% - 6vw);
    position: fixed;
    bottom: 0px;
    left: 6vw;
    padding-left: 2vw;
    background-color: white;
    padding-right: 2vw;
}

/* NOTES */
#notes-container {
    width: 20vw;
    height: 90%;
    border: 1px solid #d6dbde;
    padding: 6px;
    border-radius: 4px;
}

.note {
    padding: 10px;
    border-bottom: solid 1px #e2e2e2;
    transition: all .5s;
}
.note h4 .small {
   transition: all .5s;
}
.note.active {
    background-color: rgba(239, 238, 236, 0.7);
    border: 1px solid #cecece;
    color: #272727;
    border-radius: 8px;
}
.note:hover {
    background-color: darkorange;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
.note:hover h4 .small {
    color: white !important;
 }

.note h4 {
    padding-bottom: 10px;
}

.note p {
    text-align: justify;
}
.note .autor { 
    font-style: italic;
}

/* ---- */
i.mdi::before,
span.mdi::before,
button.mdi::before {
    font-size: 24px;
    line-height: 13px;
}
.btn.mdi::before,
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs.mdi::before,
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm.mdi::before,
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}